div {
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: move ;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        top: 0;
        left: 0;
        background-color: red;
    }
    50% {
        top: 25px;
        left: 25px;
        background-color: rgb(0, 187, 255);
    }
    75% {
        top: 50px;
        left: 50px;
        background-color: rgb(55, 255, 0);
    }
    100% {
        top: 100px;
        left: 100px;
        background-color: rgb(67, 0, 69);
    }
}