section {
    box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.73);
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 14px 0;
    margin: 60px auto;
}
.image_icons {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
h2 {
    margin: 8px 0;
}
#placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
p {
    width: 270px;
    font-size: 14px;
    margin: 8px auto;
}
button {
    background-color: #108de5;
    color: white;
    border: none;
    width: 90%;
    border-radius: 5px;
    padding: 7px 0;
    margin-top: 8px;
    cursor: pointer;
}

a {
    text-decoration: none;
}